/* Grid.css */

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}
body {
    background-color: #ffd1d6;
}
.grid-cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    /*border: 1px solid #ccc;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease;
}
.result-field {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-height: 453px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    background-color: transparent;
}

.result-cell {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease;


}

/*.clear {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: #333; !* dark background *!*/
/*    color: white;*/
/*    font-weight: 900;*/
/*    font-size: 20px;*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
/*    */
/*}*/



.grid-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-cell:hover {
    transform: scale(1.05);
}
.result-cell:hover {
    transform: scale(1.05);
}

.placeholder {
    font-size: 24px;
    color: #aaa;
}

.search-box {
    position: absolute;
    top: 275px;
    left: 75px;
    border: 3px solid #bababa;
    background-color: lightpink;
    height: 525px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
}

.grid-background {
   position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 800px;
    height: 720px;
    border: 2px solid #bababa;
    border-radius: 15px;
    background-color: #282c34;
}

.clear {
    position: absolute;
    top: 770px;
    left: 70%;
    border-radius: 10px;
    transition: 0.2s ease;
}
.clear:hover {
    background-color: transparent;
    border-radius: 10px;
    transform: scale(1.05);
}
.disclaimer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: #777;
}