/* Grid.css */

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    padding-top: 50px;
}
body {
    background-color: #ffd1d6;
}
.grid-cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease;
}


.result-cell {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease;


}

.grid-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-cell:hover {
    transform: scale(1.05);
}
.result-cell:hover {
    transform: scale(1.05);
}

.placeholder {
    font-size: 24px;
    color: #aaa;
}

.search-box {
    position: absolute;
    top: 250px;
    left: 75px;
    border: 3px solid black;
    background-color: lightpink;
    height: 500px;
    width: 300px;
    box-sizing: border-box;
}

.clear {
    position: absolute;
    top: 770px;
    left: 70%;
}